.dotfiles
.zsh_history
.zsh_sessions
*.zwc
.zcompdump-*
.z
.tmux.conf
.tmux
.gitconfig.local

.npm
.oh-my-zsh
.rd
.rdbg_history
.ssh
.tessl
.tessl_development

.RData
.RHistory
.python_history
.node_repl_history

Applications/
Desktop/
Downloads/
Documents/
Library/
Movies/
Music/
Pictures/
Public/
src/
*Google Drive

.Trash/
.cache/
.local/
.tmux/
.viminfo
.vscode/
.swt

.iterm2/
.kube/
.lesshst
.logseq/
.matplotlib/
.mongodb/
.streamlit/
.swiftpm/
.vim/
.windsurf/
Calibre Library/
conductor/
go/
.bun_repl_history
.bun
.bundle
.cups
.cursor
