.dotfiles
.zsh_history
.zsh_sessions
*.zwc
.z
.tmux.conf
.tmux
.gitconfig.local

.npm
.oh-my-zsh
.rd
.rdbg_history
.ssh
.tessl
.tessl_development

Applications/
Desktop/
Downloads/
Documents/
Library/
Movies/
Music/
Pictureas/
Public/
src/
Google Drive*/

.DS_Store
.Trash/
.cache/
.local/
.tmux/
.viminfo
.vscode/
.swt
