<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_barChart_position</key>
	<integer>2</integer>
	<key>Battery_batteryDetails_position</key>
	<integer>1</integer>
	<key>Battery_battery_additional</key>
	<string>innerPercentage</string>
	<key>Battery_battery_chargerInside</key>
	<true/>
	<key>Battery_battery_color</key>
	<true/>
	<key>Battery_battery_hideAdditionalWhenFull</key>
	<true/>
	<key>Battery_battery_position</key>
	<integer>0</integer>
	<key>Battery_battery_xlSize</key>
	<false/>
	<key>Battery_label_position</key>
	<integer>4</integer>
	<key>Battery_mini_position</key>
	<integer>3</integer>
	<key>Battery_oneView</key>
	<true/>
	<key>Battery_widget</key>
	<string>battery</string>
	<key>CPU_barChart_position</key>
	<integer>0</integer>
	<key>CPU_bar_chart_box</key>
	<true/>
	<key>CPU_bar_chart_frame</key>
	<false/>
	<key>CPU_clustersGroup</key>
	<false/>
	<key>CPU_hyperhreading</key>
	<false/>
	<key>CPU_label_position</key>
	<integer>4</integer>
	<key>CPU_lineChart_position</key>
	<integer>5</integer>
	<key>CPU_mini_position</key>
	<integer>3</integer>
	<key>CPU_notifications_eCoresLoad_state</key>
	<false/>
	<key>CPU_notifications_systemLoad_state</key>
	<false/>
	<key>CPU_pieChart_position</key>
	<integer>2</integer>
	<key>CPU_processes</key>
	<integer>10</integer>
	<key>CPU_splitValue</key>
	<false/>
	<key>CPU_tachometer_position</key>
	<integer>1</integer>
	<key>CPU_usagePerCore</key>
	<true/>
	<key>CPU_widget</key>
	<string>bar_chart</string>
	<key>Clock_label_position</key>
	<integer>1</integer>
	<key>Clock_list</key>
	<data>
	W3siaWQiOiJENTM4ODg2Qi1DMEY2LTQ2MEEtQjQ1Qi0yMDFFREQ0RjFBNjkiLCJmb3Jt
	YXQiOiJISDptbSAnRVQnIiwidHoiOiJBbWVyaWNhXC9Ub3JvbnRvIiwiZW5hYmxlZCI6
	dHJ1ZSwibmFtZSI6IkVTVCJ9LHsiaWQiOiJDOTA0MUVDMC0zQ0UxLTQ5RjgtOTA3Ri0z
	NEU5QUJDREEyNjUiLCJmb3JtYXQiOiJISDptbSAnUFQnIiwidHoiOiJBbWVyaWNhXC9W
	YW5jb3V2ZXIiLCJlbmFibGVkIjp0cnVlLCJuYW1lIjoiUFNUIn0seyJpZCI6IkFDMjg0
	NzMyLUIwNTQtNEU0MS1BREZCLTVDRjg0RTQyRjUwOCIsImZvcm1hdCI6IkhIOm1tICdV
	SyciLCJ0eiI6IkV1cm9wZVwvTG9uZG9uIiwiZW5hYmxlZCI6dHJ1ZSwibmFtZSI6Ikxv
	bmRvbiJ9LHsiaWQiOiI2NUNDQTI1Ri0zNTY3LTQzQTktQUY1MS00QkNEQTk2MTU3MTMi
	LCJmb3JtYXQiOiJISDptbSDwn4ew8J+HrSIsInR6IjoiQXNpYVwvUGhub21fUGVuaCIs
	ImVuYWJsZWQiOnRydWUsIm5hbWUiOiJDYW1ib2RpYSJ9LHsiaWQiOiI1NzU2REFCQS0x
	N0UyLTQ5QjMtODdCNC0zMkE4RUQ2Q0NFM0UiLCJmb3JtYXQiOiJISDptbSIsInR6Ijoi
	bG9jYWwiLCJlbmFibGVkIjpmYWxzZSwibmFtZSI6IkxvY2FsIn1d
	</data>
	<key>Clock_sensors_monospacedFont</key>
	<true/>
	<key>Clock_stack_position</key>
	<integer>0</integer>
	<key>Clock_state</key>
	<true/>
	<key>Clock_widget</key>
	<string>sensors</string>
	<key>CombinedModules</key>
	<true/>
	<key>CombinedModules_popup</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>none</string>
	<key>Disk_barChart_position</key>
	<integer>3</integer>
	<key>Disk_label_position</key>
	<integer>2</integer>
	<key>Disk_memory_position</key>
	<integer>5</integer>
	<key>Disk_mini_position</key>
	<integer>1</integer>
	<key>Disk_networkChart_position</key>
	<integer>6</integer>
	<key>Disk_pieChart_position</key>
	<integer>4</integer>
	<key>Disk_speed_downloadColor</key>
	<string>secondBlue</string>
	<key>Disk_speed_icon</key>
	<string>dots</string>
	<key>Disk_speed_iconAlignment</key>
	<string>right</string>
	<key>Disk_speed_position</key>
	<integer>0</integer>
	<key>Disk_speed_units</key>
	<true/>
	<key>Disk_speed_value</key>
	<true/>
	<key>Disk_text_position</key>
	<integer>7</integer>
	<key>Disk_widget</key>
	<string>speed</string>
	<key>GPU_barChart_position</key>
	<integer>1</integer>
	<key>GPU_label_position</key>
	<integer>4</integer>
	<key>GPU_lineChart_position</key>
	<integer>2</integer>
	<key>GPU_mini_position</key>
	<integer>0</integer>
	<key>GPU_state</key>
	<false/>
	<key>GPU_tachometer_position</key>
	<integer>3</integer>
	<key>GPU_widget</key>
	<string>mini</string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSStatusItem Preferred Position CombinedModules</key>
	<real>124</real>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame eu.exelban.Stats.Settings.WindowFrame</key>
	<string>540 393 728 480 0 0 3008 1662 </string>
	<key>Network_speed_downloadColor</key>
	<string>monochrome</string>
	<key>Network_speed_icon</key>
	<string>arrows</string>
	<key>Network_speed_iconAlignment</key>
	<string>right</string>
	<key>Network_speed_iconColor</key>
	<string>default</string>
	<key>Network_speed_monochrome</key>
	<false/>
	<key>Network_speed_uploadColor</key>
	<string>monochrome</string>
	<key>Network_speed_valueColor</key>
	<string>none</string>
	<key>RAM_barChart_position</key>
	<integer>0</integer>
	<key>RAM_label_position</key>
	<integer>3</integer>
	<key>RAM_lineChart_position</key>
	<integer>4</integer>
	<key>RAM_memory_position</key>
	<integer>5</integer>
	<key>RAM_mini_position</key>
	<integer>2</integer>
	<key>RAM_pieChart_position</key>
	<integer>1</integer>
	<key>RAM_splitValue</key>
	<true/>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_text_position</key>
	<integer>7</integer>
	<key>RAM_widget</key>
	<string>bar_chart</string>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1771958560</integer>
	<key>updater_check_ts</key>
	<integer>1773667470</integer>
	<key>version</key>
	<string>2.12.4</string>
</dict>
</plist>
